body {
  color: aqua;
}
.container {
  background-color: #c7b2f2;
  border-radius: 5px;
  margin: 40, 20;
  padding: 50px;
}
h1 {
  padding: 20px;
  margin: 20px, 20px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 12px;
}
